[submodule "frontend"]
	path = frontend
	url = https://github.com/samarrebhi/Charts-generation-interface-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/samarrebhi/Charts-generation-interface-backend.git
